name: Workflow Call - Build & Lint

on:
  workflow_call:
    inputs:
      save:
        description: "Save the build image artifact"
        type: boolean
        required: true

jobs:
  build:
    name: Build & Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and export
        uses: docker/build-push-action@v5
        with:
          tags: ${{ github.repository }}:latest
          outputs: type=docker,dest=/tmp/image.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        if: ${{ inputs.save == true }}
        with:
          name: image
          path: /tmp/image.tar
          retention-days: 7
