name: Workflow Call - Trivy

on:
  workflow_call:

jobs:
  trivy:
    name: Trivy
    runs-on: self-hosted
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: image
          path: /tmp
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Load image
        run: docker load --input /tmp/image.tar

      - name: Run Trivy scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "${{ github.repository }}:latest"
          format: "sarif"
          output: "trivy-results.sarif"
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy results
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "trivy-results.sarif"
